.bg-primary{
  background-color: var(--vantor-teal)!important;
}

.v-application__wrap {
  background-color: #222!important;
}

:root {
  --vantor-teal: #06cfff;
  --vantor-plum: #8E0DD1;
  --vantor-light-gray: #b6b6b6;
  --font-everett: 'TWK Everett';
  --font-inter: 'Inter';
  --v-theme-primary: #FF7700!important;
  --vantor-secondary: var(--vantor-plum);
      
}

body{
  font-family: var(--font-inter);
}


.wrapper-global,
.wrapper-global-watermark{
  margin-top: 100px;
  padding: 0 30px;
}

.wrapper-global-no-nav{
  margin-top: 30px;
  padding: 0 30px;
}

.wrapper-global-watermark{
  background-image: url("https://m3orange.com/maxar/vantor-brand/vantor_logo_orb_dark_gray_03.svg");
  background-position-x: 130%;
  background-position-y: 90% ;
}


.parent-container{

  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    color: #06cfff;
    margin-bottom: 20px;
    font-family: var(--font-everett);
    font-weight: 500;
}

.top-nav{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: fit-content;
  background-color: rgba(0,0,0,0.8);
  color: #FFF;
  padding: 20px 40px;
  display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img{
  border: 0px!important;
  opacity: 0.35;
}

.logo img,
.logo a,
.logo a:visited{
  border: 0px!important;
}

.logo{
    width: 120px;
  margin-right: 80px;
  z-index: 11;
  border: 0px!important;
}

.top-nav .links{
  margin: 0 20px 0 0;
  font-size: 14px;
  font-family: var(--font-inter);
  text-transform: uppercase;
  font-weight: 600;
}

.top-nav a,
.top-nav a:visited{
    color: rgba(255,255,255,0.6);
}

/* .area{
  margin: 0 0 80px 0;
} */


.area{
  background-color: rgba(255,255,255,0.06);
  padding: 40px;
  margin: 0 0 20px 0;
  border-radius: 10px;
}

  .same-area{
    margin: 40px 0 30px 0;
  }

    .vuetify-documentation {
      margin: 20px 0 10px 0;
      display: flex;
      flex-direction: row;
      font-size: 15px;
    }

  .vuetify-documentation a{
    color: var(--vantor-light-gray);
    margin-top: 4px;

  }

    .vuetify-documentation  img{
      height: 30px;
      margin: 0 6px 0 0;
    }

.gray-headers{
  color: rgba(255,255,255,1);
}

.v-btn.button-outline,
.v-btn.button-outline-small {
  font-size: 18px;
  font-weight: 500;
  font-family: 'TWK Everett';
  color: var(--vantor-teal);
  text-align: center;
  display: inline-block;
  padding: 12px 24px;
  background: none;
  text-transform: unset;
  border: 1px solid var(--vantor-teal);
  border-radius: 4px;
}

.v-btn.button-outline-small{
    padding: 8px 20px;
      font-size: 14px;
        border-radius: 4px;
        height: fit-content!important;
}

.v-btn.button-outline-small:hover,
.v-btn.button-outline:hover{
  background-color: rgba(6, 207, 255, 0.10);
}
.v-selection-control__input > .v-icon{
 color: var(--vantor-teal);
}



.v-card-vantor{
  background-color: #575757;
  padding: 30px 20px;
  max-width: 600px;
  display: flex;

}

      .v-card-vantor .v-list-item__prepend{
        margin-right: 30px;

      }
      .v-card-vantor .v-card-title{
        font-size: 20px;
        font-weight: 500;
        font-family: var(--font-everett);

      }

      .v-card-text{
        margin: 10px 0px;
      }

.footer-area{
  background-color: rgba(0,0,0,0.9)!important;
}


.footer-link{
  margin: 0 20px 0 0;
  color: var(--vantor-teal);
}