.bg-primary{
  background-color: var(--vantor-teal)!important;
}


/* 
.top-wrapper{

}

.v-application__wrap {
  /* background-color: #FF7700!important; 
}
*/
.nav-wrapper{
  border: 1px solid yellow;
}

.app-wrapper{
  padding: 60px 30px 30px 30px;
  border: 1px solid green;
}

:root {
  --vantor-teal: #06cfff;
  --vantor-plum: #8E0DD1;
  --vantor-light-gray: #b6b6b6;
  --font-everett: "Everett Regular",Helvetica, Arial, sans-serif;
    --font-everett-bold: "Everett Bold",Helvetica, Arial, sans-serif;
  --font-inter: "Inter Regular",Helvetica, Arial, sans-serif;
  --v-theme-primary: #FF7700!important;
  --vantor-secondary: var(--vantor-plum);
      
}

.inter {
  font-family: "Everett Bold", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  font-family:  "Inter Regular", Helvetica, Arial, sans-serif;
}

.inter-600 {
  font-family: "Inter", sans-serif;
  font-family: 'Courier New', Courier, monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.container-wide{
  max-width: 150%;
    /* border: 2px solid green; */
}

.wrapper-speed-dial{
  height: 100%;
}


.bg-white{
  background-color: white;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
    color: var(--v-theme-primary);
    margin-bottom: 20px;
    font-family: "Everett Bold";
    color: var(--vantor-teal);
    /* font-weight: 500; */
}

/* Top Nav */

.top-nav{
  position: sticky;
  margin-bottom: 30px;
  z-index: 10;
  width: 100%;
  height: fit-content;
  /* background-color: rgba(0,0,0,0.8); */
  color: #FFF;
  padding: 20px 40px;
  display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo img{
  border: 0px!important;
  opacity: 0.35;
}

.logo img,
.logo a,
.logo a:visited{
  border: 0px!important;
}

.logo{
    width: 120px;
  margin-right: 80px;
  z-index: 11;
  border: 0px!important;
}

.top-nav .links{
  margin: 0 20px 0 0;
  font-size: 14px;
  font-family: var(--font-inter);
  /* text-transform: uppercase; */
  font-weight: 600;
}

.top-nav a,
.top-nav a:visited{
    color: rgba(255,255,255,0.6);
}

/* .area{
  margin: 0 0 80px 0;
} */


/* Sidebar */

.nav-drawer .v-card{
  border-radius: 0px;
}

.nav-icon{
  padding: 10px 12px;
  /* background-color: rgba(0,0,0,0.05); */
}

.vantor-nav-links.v-list-item--one-line{
  border-bottom: 1px solid rgba(0,0,0,0.1);
      min-height: 48px;
    padding-top: 4px;
    padding-bottom: 6px;
}
.v-list-item-title{
  font-family: var(--font-inter);
  font-size: 16px!important;
  padding: 6px 0px;
  min-height: 22px;
}



/* Rest */

.area{
  background-color: rgba(255,255,255,0.06);
  padding: 40px;
  margin: 0 0 20px 0;
  border-radius: 10px;
}

  .same-area{
    margin: 40px 0 30px 0;
  }

    .vuetify-documentation {
      margin: 20px 0 10px 0;
      display: flex;
      flex-direction: row;
      font-size: 15px;
    }

  .vuetify-documentation a{
    color: var(--vantor-light-gray);
    margin-top: 4px;

  }

    .vuetify-documentation  img{
      height: 30px;
      margin: 0 6px 0 0;
    }

.gray-headers{
  color: rgba(255,255,255,1);
}

.v-btn.button-outline,
.v-btn.button-outline-small {
  font-size: 18px;
  /* font-weight: 600!important; */
  font-family: var(--font-everett-bold);
  color: var(--vantor-teal);
  text-align: center;
  display: inline-block;
  padding: 12px 24px;
  background: none;
  text-transform: unset;
  border: 1px solid var(--vantor-teal);
  border-radius: 4px;
}

.v-btn.button-outline-small{
    padding: 8px 20px;
      font-size: 14px;
        border-radius: 4px;
        height: fit-content!important;
}

.v-btn.button-outline-small:hover,
.v-btn.button-outline:hover{
  background-color: rgba(6, 207, 255, 0.10);
}
.v-selection-control__input > .v-icon{
 color: var(--vantor-teal);
}



.v-card-vantor{
  background-color: #4e4e4e!important;
  padding: 30px 20px;
  max-width: 550px;
  display: flex;

}

      .v-card-vantor, .v-list{
  background-color: #4e4e4e!important;
  background: none!important;


}.v-card-vantor .v-list-item__prepend{
        margin-right: 30px;

      }
      .v-card-vantor .v-card-title{
        font-size: 20px;
        font-weight: 500;
        font-family: var(--font-everett);

      }

      .v-card-text{
        margin: 10px 0px;
      }

      .speed-dial-placement{
        position: absolute!important;
        bottom: 80px;
        right: 60px;
      }

        .v-card-title, .v-card-text{
        color: #fff;
        }


.grid-v-card{
  max-width: 400px;
  /* min-height: 400px; */
}
.grid-v-card .v-btn__content{
  text-transform: none;
  letter-spacing: 0.5px;
}

.grid-v-card-below{
  height: 100%;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.grid-v-card .v-card-title{
  padding: 1rem;
}

.grid-v-card .v-card-text{
      padding: 20px 1rem 10px 1rem;
      margin: 0px;
      color: black;
}
.grid-v-card-below .label{
  background-color: var(--vantor-plum);
  width: fit-content;
  border-radius: 20px;
  padding: 2px 10px;
  color: #FFF;
  font-size: 12px;
  font-family: var(--font-everett);
  font-weight: 600;
  margin: 0 0 8px 0;
}

.stats-card .v-icon{
    font-weight: 700;
}
.stats-card {
    border: 1px solid rgba(255,255,255,0.6)!important;

}

.stats-card .v-card--variant-plain,  .v-card--variant-outlined, .v-card--variant-text, .v-card--variant-tonal{
    border-radius: 12px!important;
    
}

.stats-card .v-card-item{

      min-height: 180px;
 
}

.v-card-item__content .content-block{
    /* border: 1px solid purple; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.v-card-item__content {
  height: 100%;
}



.stats-title{
  color: rgba(255,255,255,1);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.stats-digit{
  font-weight: 600;
  font-size: 40px;
   color: rgba(255,255,255,1);

}

.stats-digit .super{
  font-size: 26px;
  font-weight: 400;
  vertical-align: text-top;  
  margin-left: 3px;
}

.stats-period{
  font-family: var(--font-inter);
     color: rgba(255,255,255,0.6);
     font-weight: 500;
}

.stats-title, .stats-digit{
  font-family: "Everett Bold", Helvetica, sans-serif;

}

.stats-card .v-btn__content{
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 600;

}

.stats-card .v-btn__content,
.v-icon{
    color: rgba(255,255,255,0.6);
}

.stats-card .v-card-actions{
      gap: 0px;
}


.footer-area{
  background-color: rgba(0,0,0,0.9)!important;
}


.footer-link{
  margin: 0 20px 0 0;
  color: var(--vantor-teal);
}