
@font-face {
    font-family: "Everett Regular";
    src: url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Regular.woff");
    /* IE9 Compat Modes */
    src:
        url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Regular.woff") format("woff"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Regular.woff2") format("woff2"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Everett Medium";
    src: url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Medium.woff");
    /* IE9 Compat Modes */
    src:
        url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Medium.woff") format("woff"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Medium.woff2") format("woff2"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Medium.ttf") format("truetype");
}



@font-face {
    font-family: "Everett Bold";
    src: url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Bold.woff");
    /* IE9 Compat Modes */
    src:
        url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Bold.woff") format("woff"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Bold.woff2") format("woff2"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Everett/TWKEverett-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Regular";
    src: url("https://www.m3orange.com/vantor-fixed/fonts/Inter/Inter-Regular.woff2");
    /* IE9 Compat Modes */
    src:
        url("https://www.m3orange.com/vantor-fixed/fonts/Inter/Inter-Regular.woff") format("woff"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Inter/Inter-Regular.woff2") format("woff2"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Bold";
    src: url("https://www.m3orange.com/vantor-fixed/fonts/Inter/Inter-Bold.woff2");
    /* IE9 Compat Modes */
    src:
        url("https://www.m3orange.com/vantor-fixed/fonts/Inter/Inter-Bold.woff") format("woff"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Inter/Inter-Bold.woff2") format("woff2"),
        url("https://www.m3orange.com/vantor-fixed/fonts/Inter/Inter-Bold.ttf") format("truetype");
}

